* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:hidden;
  background: rgb(9,9,121);
  background: radial-gradient(circle, rgba(9,9,121,1) 20%, rgba(2,238,255,1) 60%, rgba(9,9,121,1) 100%);
}

.thing {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  border: 12px solid transparent;
  border-radius: 50%;
}

.ring1 {
  border-color: transparent #F725EF transparent #79FF39 ;
  animation: ring1 10s cubic-bezier(0.35, -0.14, 0.79, 1.22) infinite;
}

.ring2 {
  border-color: #FFAC2F transparent #25EAF7 transparent ;
  animation: ring2 5s cubic-bezier(0.35, -0.14, 0.79, 1.22) infinite;
}


@keyframes ring1 {
  100% {
    transform: rotateZ(2turn);
  } 
}

@keyframes ring2 {
  100% {
    transform: rotateZ(-2turn);
  } 
}


